services:

  master:
    build:
      context: .
      args:
        CACHEBUST: $(date +%s)
        REPO_URL: https://github.com/MikBark/gmton
        BRANCH: master
    container_name: master
    environment:
      API_TOKEN: ...
      POST_URL: ...
      HTTP_PROXY: ...
      HTTPS_PROXY: ...
    volumes:
      - ./conf/kttz.json:/app/conf/logic.json
